<header class="intro-and-nav" role="banner">
  <div>
    <div class="intro">
      <a
        class="logo"
        href="/"
        aria-label="{{ .Site.Title }} home page"
      >
        <img src="{{ "images/logo-stacked-Penrose.png" | relURL }}" alt="Whitman College Logo">
      </a>
      
        {{ with .Site.Params.description }}
          <p class="library-desc">{{ . | markdownify }}</p>
        {{ end }}

    </div>
    {{ partial "nav.html" . }}
    {{ if eq .Site.Params.moveFooterToHeader true }}
      {{ partial "footer.html" . }}
    {{ end }}
  </div>
</header>
