---
date: "2017-06-26T18:27:58+01:00"
title: ""
toc: false
---
<div class="top-section-main">


<div class="splash-title">
<h2 style="font:3rem;font-weight: bold;">Whitman College & Northwest Archives</h2>
</div>

// testing to see if this is now not readable
//<div id="announcement">{{% include file="announcement.html" %}}</div>

</div>

<div class="second-section-main">
<div class="bootstrap-wrapper">
<div class="container-fluid">
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">{{% include file="planyourvisit.html" %}}
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
    <div class="card" style="font-size:0.8rem">
    <h3 class="center">Search Whitman College and Northwest Archives Finding Aids</h3>
     <form action="https://archiveswest.orbiscascade.org/search.php" method="get" target="_blank"><input id="searchValue" name="q" type="text" class="form-control no-up-margin"> <input id="searchSubmit" class="btn" type="submit" value="search"> <input id="r" name="r" type="hidden" value="waww"> </form>
     <p style="margin-top:0.5rem">To search Finding Aids for our archival and manuscript collections, visit Archives West. For more information about our collections, visit our <a href="/archives/explore-collections">Explore our Collections</a> page.</p>
    </div>
    </div>
   <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
   <div class="card" style="padding:0">
      <div id="blog-jacket">
       <h3 class="center">Digital Collections</h3>
       <img class="responsive-img" src="" alt="Arminda Image" id="arminda-image" />
      </div>
      <div class="jacket-title">
       <a href="https://arminda.whitman.edu/collections/whitman-college-and-northwest-archives">ARMINDA: Digital Archives</a>
       <p>Explore digitized archival collections in ARMINDA, our Institutional Repository. Content includes College and regional publications, photographs, manuscripts, and more.</p>
      </div>
    </div>
   </div>
  </div>
</div>
</div>
</div>


<script>
var rad=Math.floor((Math.random() * 5) + 1);
function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max))+1;
}

$(document).ready(function(){

	//background img
	$('#arminda-image').attr('src','/images/archive_web/img_0'+getRandomInt(6)+'.jfif');

});
</script>
